* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: azure;
  display: flex;
  flex-direction: row;
}
main {
  display: flex;
  width: 100%;
  height: 100vh;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: azure;
  width: 50%;
  height: 100vh;
  padding: 25px;
}
.left h1 {
  font-size: 30px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10%;
}
.left p {
  font-size: 18px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  margin-bottom: 10%;
}
.butt {
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-bottom: 24%;
  padding: 7px;
}
.button1 button {
  padding: 30px;
  background-color: black;
  color: azure;
  border-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}
.right {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(./image/goodboy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 button {
  padding: 30px;
  background-color: azure;
  color: black;
  border-color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
}
